<%- include('../includes/head.ejs') %>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
      <div class="container table-responsive js-receipt-table receipt-table">
          <% if(receipts.length > 0) { %>
            <table class="table table-bordered table-striped text-center table-hover">
              <thead>
                <tr>
                  <th>Ritafstand (km.)</th>
                  <th class="d-none d-sm-table-cell">Volume (l.)</th>
                  <th class="d-none d-sm-table-cell">Prijs/eenheid (€)</th>
                  <th>Datum</th>
                </tr>
              </thead>
              <tbody>
                <% for (let receipt of receipts) { %>
                  <tr role="button" class="clickable-row" data-href="/receipts/<%= receipt.id %>">
                    <td><%= receipt.tripDistance %></td>
                    <td class="d-none d-sm-table-cell"><%= receipt.totalLiters %></td>
                    <td class="d-none d-sm-table-cell"><%= receipt.pricePerLiter %></td>
                    <td><%= receipt.date %></td>
                  </tr>
                <% } %>
              </tbody>
            </table>
          <% } else { %>
              <h1>No receipts found</h1>
          <% } %>
          </div>
    </main>
  
<%- include('../includes/end.ejs') %>