<header class="main-header top-bar mb-4 position-fixed w-100">
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container">
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span></span>
          <span></span>
          <span></span>
        </button>

        <div class="collapse navbar-collapse navbar-light bg-light w-100 position-absolute-sm" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mr-auto">
            <li class="nav-item <%= path === '/' ? 'active' : '' %>">
              <a class="nav-link px-3" href="/">Dashboard</a>
            </li>
            <li class="nav-item <%= path === '/receipts' ? 'active' : '' %>">
              <a class="nav-link px-3" href="/receipts">Receipts</a>
            </li>
            <li class="nav-item <%= path === '/cart' ? 'active' : '' %>">
              <a class="nav-link px-3" href="/cart">Cart</a>
            </li>
            <li class="nav-item <%= path === '/admin/add-receipt' ? 'active' : '' %>">
              <a class="nav-link px-3" href="/admin/add-receipt">Add Receipt</a>
            </li>
            <li class="nav-item <%= path === '/admin/receipts' ? 'active' : '' %>">
              <a class="nav-link px-3" href="/admin/receipts">Admin Receipts</a>
            </li>
          </ul>
        </div>
    </div>
  </nav>
</header>
