<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__receipt-list">
            <li class="main-header__receipt"><a href="/" class="<%= path === '/' ? 'active' : '' %>">Dashboard</a></li>
            <li class="main-header__receipt"><a href="/receipts" class="<%= path === '/receipts' ? 'active' : '' %>">Receipts</a></li>
            <li class="main-header__receipt"><a href="/cart" class="<%= path === '/cart' ? 'active' : '' %>">Cart</a></li>
            <li class="main-header__receipt"><a href="/admin/add-receipt" class="<%= path === '/admin/add-receipt' ? 'active' : '' %>">Add Receipt</a></li>
            <li class="main-header__receipt"><a href="/admin/receipts" class="<%= path === '/admin/receipts' ? 'active' : '' %>">Admin receipts</a></li>
        </ul>
    </nav>

    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
    </ul>
</header>
